@keyframes blink {
  0% {
    fill: $ctacolor;
    background-color: $ctacolor;
  }
  10% {
    fill: $orange;
    background-color: $orange;
  }
  100% {
    fill: $orange;
    background-color: $orange;
  }
}
