nav {
  min-height: 8vh;
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background: $bgcolor;
  z-index: 1;
}

.burger {
  position: absolute;
  top: 25%;
  right: 5%;
  z-index: 2;
  cursor: pointer;
  .line {
    width: 4.7rem;
    height: 0.3rem;
    background: $textcolor;
    margin: 10px;
  }
  div {
    transition: all 0.5s ease;
  }
}

.burger-open {
  .line1 {
    transform: rotate(-45deg) translate(0px, 18px);
  }
  .line2 {
    transform: translateX(-100%);
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(0px, -18px);
  }
}

.menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: $bgcolor;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  clip-path: circle(100px at 90% -30%);
  -webkit-clip-path: circle(100px at 90% -30%);
  transition: all 1s ease-out;
  z-index: 1;
  pointer-events: none;
  li {
    list-style: none;
    text-align: center;
    padding: 5rem;
    a {
      font-size: 6.7rem;
    }
    .book-button-contact {
      font-size: 2.8rem;
      background-color: $ctacolor;
      color: $bgcolor;
      padding: 1.2rem 2.75 * 2rem;
      border-radius: 10px;
    }
  }
}

.menu.open {
  clip-path: circle(1600px at 90% -10%);
  -webkit-clip-path: circle(1600px at 90% -10%);
  pointer-events: all;
}

section {
  min-height: 92vh;
  width: 85%;
  margin: auto;
}
.landing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  .landing-text {
    flex: 1 1 40rem;
    h1,
    h4 {
      width: 600px;
    }
  }
  .landing-img {
    flex: 1 1 40rem;
    display: flex;
    justify-content: center;
    svg {
      width: 80%;
      height: 100%;
      object-fit: cover;
      padding: 3rem;
    }
  }
}

.audio-samples {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  .audio-samples-img {
    flex: 1 1 40rem;
  }
  .audio-player {
    height: 600px;
    flex: 1 1 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .track {
      display: flex;
      align-items: center;
      height: 64px;
      width: 636px;
      background: $accent1;
      border-radius: 10px;
      button {
        background: none;
        border: none;
        padding: 0rem 2rem;
        cursor: pointer;
        z-index: 0;
      }
    }
  }
  .fa-play,
  .fa-pause {
    font-size: 35px;
    color: $textcolor;
    width: 60px;
    height: 100%;
  }
}
.slider1,
.slider2,
.slider3 {
  width: 85%;
  margin: auto;
}
.bio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .bio-img {
    display: flex;
    justify-content: center;
    flex: 1 1 50rem;
  }
  .bio-text {
    flex: 1 1 40rem;
    max-width: 510px;
    margin: 3rem;
    h2 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 3rem;
    }
    a {
      display: block;
      width: 275px;
      height: 60px;
      background: $ctacolor;
      color: $bgcolor;
      text-align: center;
      border-radius: 1rem;
      font-size: 2.8rem;
      padding-top: 1.8rem;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    div {
      padding: 1rem;
    }
    input,
    textarea {
      font-size: 1.6rem;
      color: $textcolor;
      background: $accent2;
      font-family: "Montserrat", sans-serif;
      border: 1px rgba($color: #000000, $alpha: 0.2) solid;
      border-radius: 1rem;
      padding: 1rem;
    }
    input {
      font-size: 1.6rem;
      color: $textcolor;
      width: 100%;
    }
    button {
      width: 100%;
      font-size: 1.6rem;
      font-family: "Montserrat", sans-serif;
      border: 0.5px solid black;
      background-color: $ctacolor;
      padding: 1.5rem 5rem;
      text-align: center;
      border-radius: 1rem;
    }
    button:hover {
      cursor: pointer;
      background-color: rgba($color: #888888, $alpha: 0.5);
    }
    .submit-button {
      display: flex;
      justify-content: center;
    }
  }
}

footer {
  color: #000000;
  font-size: 1.2rem;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: #000000;
    font-size: 1.2rem;
  }
}
