@media screen and (max-width: 1150px) {
  .landing {
    flex-direction: column-reverse;
    .landing-text h1 h4 {
      width: 50%;
    }
  }

  .audio-samples {
    flex-direction: column;
  }
  .audio-player {
    margin: 0;
  }
  .bio {
    flex-direction: column;
  }
  .bio-img {
    width: 60%;
  }
  .bio {
    .bio-text {
      width: 70%;
    }
  }
}

@media screen and (max-width: 900px) {
  .landing {
    flex-direction: column-reverse;
    .landing-text h1 h4 {
      width: 80%;
    }
  }
  .bio-img {
    width: 80%;
  }
  .bio {
    .bio-text {
      width: 80%;
    }
  }
}

@media screen and (max-width: 600px) {
  .landing-text {
    width: 100%;
  }
  .landing-text h1 {
    font-size: 5rem;
  }
  .landing-text h4 {
    font-size: 2.1rem;
    width: 100% !important;
  }
  #logo {
    font-size: 3.8rem;
    align-self: center;
  }
  .audio-samples-img {
    flex-basis: 40% !important;
  }
  .audio-player {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 540px) {
  .landing {
    .landing-text {
      h1,
      h4 {
        width: 100%;
      }
    }
  }
  .audio-samples-img svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .audio-samples-img {
    padding: 0rem 2rem;
  }
  .audio-player {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 440px) {
  section {
    min-height: 88vh;
  }
  #logo {
    font-size: 3rem;
  }
  .landing-text h1 {
    font-size: 3.8rem;
  }
  .landing-text h4 {
    line-height: 3.15rem;
  }
  .audio-samples {
    align-content: center !important;
    min-height: 78vh !important;
  }
  .audio-player {
    transform: scale(0.57);
    flex-basis: 60% !important;
  }
  .bio-img {
    width: 90%;
  }
  .bio {
    .bio-text {
      margin: 3rem 0rem;
      width: 100%;
      h2 {
        font-size: 3.8rem;
      }
    }
  }
  .book-button {
    display: flex;
    justify-content: center;
  }
}
