@media screen and (max-width: 1300px) {
  .landing {
    flex-direction: column-reverse !important;
  }

  .landing-text h1,
  .landing-text h4 {
    width: 650px !important;
  }
  .audio-samples-img {
    display: flex;
    justify-content: center;
    height: 40rem;
  }
  .audio-samples-img svg {
    width: 80%;
  }
  .audio-player {
    height: 45rem !important;
  }
  .audio-player h3 {
    padding: 2rem 0rem;
  }
  .track {
    width: 437px !important;
    height: 4rem !important;
  }

  .fa-play,
  .fa-pause {
    font-size: 2.5rem !important;
  }
  .slider {
    width: 80% !important;
  }
  .bio-img img {
    max-width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  section {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 950px) {
  .landing-text {
    margin: 0rem 5rem;
  }
  .audio-samples-img {
    display: flex;
    justify-content: center;
    height: 40rem;
  }
  .audio-samples {
    flex-direction: column;
    margin: 5rem auto;
  }
  .audio-samples-img svg {
    width: 80%;
  }
  .audio-player {
    height: 45rem !important;
  }
  .audio-player h3 {
    padding: 2rem 0rem;
  }
  .track {
    width: 437px !important;
    height: 4rem !important;
  }

  .fa-play,
  .fa-pause {
    font-size: 2.5rem !important;
  }
  .slider {
    width: 80% !important;
  }
  .bio {
    flex-direction: column;
  }
  .bio-img {
    justify-content: center;
  }
  .bio-img img {
    max-width: 70%;
  }
  .bio-text {
    max-width: 70% !important;
    margin: 3rem 0rem !important;
  }
  .bio-text h2 {
    font-size: 3.8rem;
  }
  .book-button {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  section {
    width: 90%;
    margin: auto;
  }
  #logo {
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem;
  }
  .burger {
    top: 10%;
    scale: 0.7;
  }
  .menu li a {
    font-size: 5rem;
  }
  .menu.open {
    clip-path: circle(1400px at 90% -10%);
    -webkit-clip-path: circle(1400px at 90% -10%);
    pointer-events: all;
  }
  .landing-text {
    max-width: 95%;
    margin: 0;
    flex: 1 1 30rem !important;
  }
  .landing h1 {
    font-size: 3.8rem;
    width: 100% !important;
  }
  .landing h4 {
    font-size: 2.1rem;
    width: 100% !important;
    line-height: 3.15rem;
  }
  .landing-img {
    flex: 1 1 40rem !important;
  }
  .landing-img svg {
    width: 100% !important;
    padding: 0 !important;
  }
  .audio-samples-img {
    display: flex;
    justify-content: center;
    height: 35rem;
  }
  .audio-samples-img svg {
    width: 80%;
  }
  .audio-player {
    height: 40rem !important;
    margin-bottom: 10rem;
  }
  .track-wrapper h3 {
    font-size: 2.8rem;
    text-align: center;
    padding: 1rem 0rem;
  }
  .track {
    width: 337px !important;
    height: 3.8rem !important;
  }

  .fa-play,
  .fa-pause {
    font-size: 2.5rem !important;
  }
  .slider {
    width: 80% !important;
  }
  .bio {
    flex-wrap: wrap;
  }
  .bio-img img {
    max-width: 350px;
    max-height: 350px;
  }
  .bio-img {
    display: flex;
    justify-content: center;
  }
  .bio-text {
    max-width: 100% !important;
    margin: 3rem 0rem !important;
  }
  .bio-text h2 {
    font-size: 3.8rem;
  }
}
