@media screen and (max-width: 1150px) {
  .landing {
    flex-direction: column-reverse;
    .landing-text h1 h4 {
      width: 50%;
    }
  }

  .audio-samples {
    flex-direction: column;
  }
  .bio {
    flex-direction: column;
  }
  .bio-img {
    width: 40%;
  }
}

@media screen and (max-width: 800px) {
  .landing {
    flex-direction: column-reverse;
    .landing-text h1 h4 {
      width: 80%;
    }
  }
  .bio-img {
    width: 80%;
  }
  .bio {
    .bio-text {
      width: 80%;
    }
  }
}

@media screen and (max-width: 600px) {
}
