* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #2d2d2d;
  color: #d9d4d2;
  position: relative;
  overflow-x: hidden;
}

h1 {
  font-size: 6.7rem;
}

h2 {
  font-size: 5rem;
  font-weight: 400;
}

h3 {
  font-size: 3.8rem;
  font-weight: 400;
}

h4 {
  font-size: 2.8rem;
  line-height: 4.2rem;
  font-weight: 400;
}

h5 {
  font-size: 2.1rem;
  font-weight: 400;
}

p,
a,
li {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

#logo {
  font-size: 5rem;
  font-family: "Abril Fatface";
}

a {
  text-decoration: none;
  color: #d9d4d2;
}

nav {
  min-height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: 0;
  background: #2d2d2d;
  z-index: 1;
  width: 100%;
}

.burger {
  position: absolute;
  top: 25%;
  right: 5%;
  z-index: 2;
  cursor: pointer;
  z-index: 2;
}

.burger .line {
  width: 4.7rem;
  height: 0.3rem;
  background: #d9d4d2;
  margin: 10px;
}

.burger div {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.burger-open .line1 {
  -webkit-transform: rotate(-45deg) translate(0px, 18px);
          transform: rotate(-45deg) translate(0px, 18px);
}

.burger-open .line2 {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.burger-open .line3 {
  -webkit-transform: rotate(45deg) translate(0px, -18px);
          transform: rotate(45deg) translate(0px, -18px);
}

.menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  clip-path: circle(100px at 90% -30%);
  -webkit-clip-path: circle(100px at 90% -30%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  z-index: 1;
  pointer-events: none;
}

.menu li {
  list-style: none;
  text-align: center;
  padding: 5rem;
}

.menu li a {
  font-size: 6.7rem;
}

.menu li .book-button-contact {
  font-size: 2.8rem;
  background-color: #ffdea9;
  color: #2d2d2d;
  padding: 1.2rem 5.5rem;
  border-radius: 10px;
}

.menu.open {
  clip-path: circle(2400px at 90% -10%);
  -webkit-clip-path: circle(2400px at 90% -10%);
  pointer-events: all;
}

section {
  min-height: 92vh;
  width: 85%;
  margin: auto;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.landing .landing-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.landing .landing-text h1,
.landing .landing-text h4 {
  width: 600px;
}

.landing .landing-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .landing-img svg {
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 3rem;
}

.audio-samples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.audio-samples .audio-samples-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.audio-samples .audio-player {
  height: 600px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.audio-samples .audio-player .track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  width: 636px;
  background: #4c5359;
  border-radius: 10px;
}

.audio-samples .audio-player .track button {
  background: none;
  border: none;
  padding: 0rem 2rem;
  cursor: pointer;
  z-index: 0;
}

.audio-samples .fa-play,
.audio-samples .fa-pause {
  font-size: 35px;
  color: #d9d4d2;
  width: 60px;
  height: 100%;
}

.slider1,
.slider2,
.slider3 {
  width: 85%;
  margin: auto;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bio .bio-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  width: 100%;
}

.bio .bio-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  margin: 3rem;
  margin-left: 4rem;
  max-width: 50%;
}

.bio .bio-text h2 {
  margin-bottom: 1rem;
}

.bio .bio-text p {
  margin-bottom: 3rem;
}

.bio .bio-text a {
  display: block;
  width: 275px;
  height: 60px;
  background: #ffdea9;
  color: #2d2d2d;
  text-align: center;
  border-radius: 1rem;
  font-size: 2.8rem;
  padding-top: 1.8rem;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.contact .form-wrapper div {
  padding: 1rem;
}

.contact .form-wrapper input,
.contact .form-wrapper textarea {
  font-size: 1.6rem;
  color: #d9d4d2;
  background: #8c8c8c;
  font-family: "Montserrat", sans-serif;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 1rem;
  padding: 1rem;
}

.contact .form-wrapper input {
  font-size: 1.6rem;
  color: #d9d4d2;
  width: 100%;
}

.contact .form-wrapper input:focus {
  outline: none;
}

.contact .form-wrapper textarea:focus {
  outline: none;
}

.contact .form-wrapper button {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  border: 0.5px solid black;
  background-color: #ffdea9;
  padding: 1.5rem 5rem;
  text-align: center;
  border-radius: 1rem;
}

.contact .form-wrapper button:hover {
  cursor: pointer;
  background-color: rgba(136, 136, 136, 0.5);
}

.contact .form-wrapper .submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  color: #d9d4d2;
  font-size: 1rem;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer a {
  color: #d9d4d2;
  font-size: 1rem;
}

@-webkit-keyframes blink1 {
  to {
    background: #ff803c;
    fill: #ff803c;
  }
}

@keyframes blink1 {
  to {
    background: #ff803c;
    fill: #ff803c;
  }
}

@-webkit-keyframes blink2 {
  to {
    background: #bd5822;
    fill: #bd5822;
  }
}

@keyframes blink2 {
  to {
    background: #bd5822;
    fill: #bd5822;
  }
}

@-webkit-keyframes blink3 {
  to {
    fill: #ffce55;
    background: #ffce55;
  }
}

@keyframes blink3 {
  to {
    fill: #ffce55;
    background: #ffce55;
  }
}

@-webkit-keyframes ocean1 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes ocean1 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@-webkit-keyframes ocean2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes ocean2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@-webkit-keyframes sun1 {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    fill: #bd5822;
  }
}

@keyframes sun1 {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    fill: #bd5822;
  }
}

@-webkit-keyframes sun2 {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    fill: #bd5822;
  }
  to {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    fill: #8f2517;
  }
}

@keyframes sun2 {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    fill: #bd5822;
  }
  to {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    fill: #8f2517;
  }
}

@-webkit-keyframes sun3 {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    fill: #8f2517;
  }
  to {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    fill: #501007;
  }
}

@keyframes sun3 {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    fill: #8f2517;
  }
  to {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    fill: #501007;
  }
}

@-webkit-keyframes sun4 {
  from {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    fill: #501007;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    fill: #ffdea9;
  }
}

@keyframes sun4 {
  from {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    fill: #501007;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    fill: #ffdea9;
  }
}

#square1 {
  -webkit-animation: blink1 5s steps(2, start) infinite;
          animation: blink1 5s steps(2, start) infinite;
}

#square2 {
  -webkit-animation: blink2 3s steps(2, start) infinite 3s;
          animation: blink2 3s steps(2, start) infinite 3s;
}

#square3 {
  -webkit-animation: blink3 4s steps(2, start) infinite 2s;
          animation: blink3 4s steps(2, start) infinite 2s;
}

#wave1 {
  animation: ocean1 2s infinite alternate-reverse;
}

#wave2 {
  animation: ocean2 2s infinite alternate-reverse 1s;
}

#wave3 {
  animation: ocean1 2s infinite alternate-reverse;
}

#wave4 {
  animation: ocean1 2s infinite alternate-reverse;
}

#wave5 {
  animation: ocean2 2s infinite alternate-reverse 1s;
}

#wave6 {
  animation: ocean1 2s infinite alternate-reverse;
}

#wave7 {
  animation: ocean2 2s infinite alternate-reverse;
}

#sun.active1 {
  -webkit-animation: sun1 1s ease forwards;
          animation: sun1 1s ease forwards;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sun.active2 {
  -webkit-animation: sun2 1s ease forwards;
          animation: sun2 1s ease forwards;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sun.active3 {
  -webkit-animation: sun3 1s ease forwards;
          animation: sun3 1s ease forwards;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sun.active4 {
  -webkit-animation: sun4 1s ease forwards;
          animation: sun4 1s ease forwards;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 0;
  width: 85%;
  background: #8c8c8c;
  border-radius: 3px;
  height: 5px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #8c8c8c;
  border-radius: 1.3px;
}

input[type="range"]::-webkit-slider-thumb {
  height: 9px;
  width: 18px;
  border-radius: 3px;
  background: #d9d4d2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #8c8c8c;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #8c8c8c;
  border-radius: 1.3px;
}

input[type="range"]::-moz-range-thumb {
  height: 9px;
  width: 18px;
  border-radius: 3px;
  background: #d9d4d2;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  border-width: 16px 0;
}

input[type="range"]::-ms-fill-lower {
  background: #8c8c8c;
  border-radius: 2.6px;
}

input[type="range"]::-ms-fill-upper {
  background: #8c8c8c;
  border-radius: 2.6px;
}

input[type="range"]::-ms-thumb {
  height: 9px;
  width: 18px;
  border-radius: 3px;
  background: #d9d4d2;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #8c8c8c;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #8c8c8c;
}

@media screen and (max-width: 1300px) {
  .audio-samples-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40rem;
  }
  .audio-samples-img svg {
    width: 80%;
  }
  .audio-player {
    height: 45rem !important;
  }
  .audio-player h3 {
    padding: 2rem 0rem;
  }
  .track {
    width: 437px !important;
    height: 4rem !important;
  }
  .fa-play,
  .fa-pause {
    font-size: 2.5rem !important;
  }
  .slider {
    width: 80% !important;
  }
  .bio-img img {
    max-width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .landing {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .landing-text h1,
  .landing-text h4 {
    width: 650px !important;
  }
  section {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 950px) {
  .landing-text {
    margin: 0rem 5rem;
  }
  .audio-samples-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 40rem;
  }
  .audio-samples {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5rem auto;
  }
  .audio-samples-img svg {
    width: 80%;
  }
  .audio-player {
    height: 45rem !important;
  }
  .audio-player h3 {
    padding: 2rem 0rem;
  }
  .track {
    width: 437px !important;
    height: 4rem !important;
  }
  .fa-play,
  .fa-pause {
    font-size: 2.5rem !important;
  }
  .slider {
    width: 80% !important;
  }
  .bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bio-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bio-img img {
    max-width: 70%;
  }
  .bio-text {
    max-width: 70% !important;
    margin: 3rem 0rem !important;
  }
  .bio-text h2 {
    font-size: 3.8rem;
  }
  .book-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  section {
    width: 90%;
    margin: auto;
  }
  #logo {
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem;
  }
  .burger {
    top: 10%;
    scale: 0.7;
  }
  .menu li a {
    font-size: 5rem;
  }
  .menu.open {
    clip-path: circle(1400px at 90% -10%);
    -webkit-clip-path: circle(1400px at 90% -10%);
    pointer-events: all;
  }
  .landing-text {
    max-width: 95%;
    margin: 0;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 30rem !important;
            flex: 1 1 30rem !important;
  }
  .landing h1 {
    font-size: 3.8rem;
    width: 100% !important;
  }
  .landing h4 {
    font-size: 2.1rem;
    width: 100% !important;
    line-height: 3.15rem;
  }
  .landing-img {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 40rem !important;
            flex: 1 1 40rem !important;
  }
  .landing-img svg {
    width: 100% !important;
    padding: 0 !important;
  }
  .audio-samples-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 35rem;
  }
  .audio-samples-img svg {
    width: 80%;
  }
  .audio-player {
    height: 40rem !important;
    margin-bottom: 10rem;
  }
  .track-wrapper h3 {
    font-size: 2.8rem;
    text-align: center;
    padding: 1rem 0rem;
  }
  .track {
    width: 337px !important;
    height: 3.8rem !important;
  }
  .fa-play,
  .fa-pause {
    font-size: 2.5rem !important;
  }
  .slider {
    width: 80% !important;
  }
  .bio {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bio-img img {
    max-width: 350px;
    max-height: 350px;
  }
  .bio-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bio-text {
    max-width: 100% !important;
    margin: 3rem 0rem !important;
  }
  .bio-text h2 {
    font-size: 3.8rem;
  }
}
/*# sourceMappingURL=style.css.map */